/packages/
/bin/
/obj/
*.suo
*.pdb
*.user
*.vspscc
/TaskExecutor/obj/Debug
/TaskExecutorLib/bin/Debug
/TaskExecutorLib/obj/Debug
/Logger/bin/Debug
/TaskExecutor/bin/Debug/logs
/TaskExecutor/bin/Debug
/Logger/obj/Debug
/TaskExecutor/obj/Release
/TaskExecutorLib/bin/Release
/TaskExecutorLib/obj/Release
/Logger/bin/Release
/TaskExecutor/bin/Release/logs
/TaskExecutor/bin/Release
/Logger/obj/Release
/.vs/TaskExecutor/
